Package: com.ps.tapvideoconfig
Name: TapVideoConfig
Depends: mobilesubstrate, firmware (>= 9.0)
Conflicts: com.spicat.tapvideoconfig
Replaces: com.spicat.tapvideoconfig
Provides: com.spicat.tapvideoconfig
Version: 0.0.1
Architecture: iphoneos-arm
Description: Change video configuration directly in Camera app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
Tag: compatible::ios9, compatible::ios10, compatible::ios11, compatible::ios12, compatible::ios13, compatible::ios14
