Package: com.ps.tapvideoconfig
Name: TapVideoConfig
Depends: mobilesubstrate, firmware (>= 9.0)
Conflicts: com.spicat.tapvideoconfig
Replaces: com.spicat.tapvideoconfig
Provides: com.spicat.tapvideoconfig
Version: 1.0.0
Architecture: iphoneos-arm
Description: Change video configuration directly in Camera app.
Maintainer: PoomSmart
Author: PoomSmart
Section: Tweaks
